<div id="author">
    <img class="photo" src="/img/adrian.jpg" />
    <div>
        <div class="title">Written by</div>
        <div class="name">Adrian Letchford</div>
        Australian investor, data scientist and software engineer.
        <div class="socials">
            <a class="social" href="https://twitter.com/dradrian" target="_blank"><img src="img/social-1_logo-twitter.svg" /></a>
            <a class="social" href="https://www.linkedin.com/in/adrianletchford/" target="_blank"><img src="img/social-1_logo-linkedin.svg" /></a>
            <a class="social" href="https://github.com/robolyst/" target="_blank"><img src="img/social-1_logo-github.svg" /></a>
            <a class="social" href="https://www.instagram.com/adrian_letchford/" target="_blank"><img src="img/social-1_logo-instagram.svg" /></a>
        </div>
    </div>
</div>