{{ $markdown_footnotes := delimit (findRE `(?s)<div class=\"footnotes\" role=\"doc-endnotes\">.*</div>` .Content) "" }}
{{ $p := .Page }}


<div id="backmatter">

    <h1>Footnotes</h1>

    {{ with .Params.acknowledgements }}
        <h2>Acknowledgements</h2>
        {{ . | $p.RenderString (dict "display" "block") }}
    {{ end }}

    {{ with $markdown_footnotes }}
        <h2>References & Notes</h2>
        {{ . | safeHTML }}
    {{ end }}

    <h2>Corrections</h2>
    <p>If you see any mistakes or room for improvement, please reach out to me on Twitter <a href="http://www.twitter.com/dradrian">@DrAdrian</a>.</p>

    <h2>Citation</h2>
    <p>Please cite this work as:</p>
    <div>{{- partial "cite.html" . -}}</div>

    <p>In BibTeX please use:</p>
    <div>{{- partial "bibtex.html" . -}}</div>

</div>
