{{ $readTime := mul (div (countwords .Content) 220.0) 60 }}
{{ $minutes := math.Round (div $readTime 60) }}

{{ $images := $.Resources.ByType "image" }}
{{ $featured := $images.GetMatch "*feature*" }}

<div class="mini">
    <div>
        <a href="{{ .Permalink }}">{{ with $featured }}<img src="{{ $featured.Permalink }}" class="feature" />{{ end }}</a>
    </div>
    <div>
        <div class="pre-title">
            {{ partial "category-links.html" . }}
        </div>
        <a class="title" href="{{ .Permalink }}">{{ .Title }}</a>
        <div class="meta">
            {{ with (.GetTerms "authors") }}
                By
                {{ $links := apply . "partial" "author-link.html" "." }}
                {{ $clean := apply $links "chomp" "." }}
                {{ delimit $clean ", " " & " }}
            {{ end }}
            <span class="space">·</span>
            <span class="date">{{ .Date.Format "Jan 2, 2006" }}</span>
            <span class="space">·</span>
            <span>{{ $minutes }} min read</span>
            {{ if .Params.draft }}<span class="tag">Draft</span>{{ end }}
        </div>
        <div class="summary">{{ .Summary }}</div>
    </div>
</div>