{{ $readTime := mul (div (countwords .Content) 220.0) 60 }}
{{ $minutes := math.Round (div $readTime 60) }}


<div class="mini">
    {{ if .Params.authors }}
        <div class="author">
            {{ range .Params.authors }}
                {{ with $.Site.GetPage (printf "/%s/%s" "authors" (. | urlize)) }}
                    <a href="{{ .Permalink }}">{{ .Name }}</a>
                {{ end }}
            {{ end }}
        </div>
    {{ end }}
    <a class="title" href="{{ .Permalink }}">{{ .Title }}</a>
    <div class="blurb">{{ .Params.blurb }}</div>
    <div class="meta">
        <span class="date">{{ .Date.Format "Jan 2, 2006" }}</span>
        <span class="space">·</span>
        <span>{{ $minutes }} min read</span>
        {{ if (.GetTerms "tags") }}<span class="space">·</span>{{ end }}
        {{ range (.GetTerms "tags") }}
            <a class="tag" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
        {{ end }}
        {{ if .Params.draft }}<span class="tag">Draft</span>{{ end }}
    </div>
</div>