{{ if eq .Type "paper" }} 
    {{ $readTime := mul (div (countwords .Content) 220.0) 60 }}
    {{ $minutes := math.Round (div $readTime 60) }}

    <div class="paper-meta">

        <div class="item">
            <div class="label">Author</div>
            {{ range .Params.authors }}
                {{ with $.Site.GetPage (printf "/%s/%s" "authors" (. | urlize)) }}
                    <div><a href="{{ .Permalink }}">{{ .Name }}</a></div>
                {{ end }}
            {{ end }}
        </div>
        <div class="item">
            <div class="label">Published</div>
            <div>{{ .Date.Format "2 January 2006" }}</div>
        </div>
        <div class="item">
            <div class="label">Length</div>
            <div>
                {{ $minutes }} {{ cond (eq $minutes 1) "minute" "minutes" }}
            </div>
        </div>
        <div class="item">
            <div class="label">Category</div>
            {{ range (.GetTerms "categories") }}
                <div>
                    <a href="{{ .Permalink }}">{{ .LinkTitle | title }}</a>
                </div>
            {{ end }}
        </div>
        <div class="item">
            <div class="label">Paper Source</div>
            <div>
                <a class="tag" href="{{.Site.Params.github_content}}{{ .File.Dir }}">Github</a>
            </div>
        </div>

    </div>
{{ end }}