{{ if eq .Type "paper" }} 
    {{ $readTime := mul (div (countwords .Content) 220.0) 60 }}
    {{ $minutes := math.Round (div $readTime 60) }}

    <div class="paper-meta">

        <div class="item">
            <div class="label">Author</div>
            <div>{{ .Params.author }}</div>
        </div>
        <div class="item">
            <div class="label">Published</div>
            <div>{{ .Date.Format "2 January 2006" }}</div>
        </div>
        <div class="item">
            <div class="label">Length</div>
            <div>
                {{ $minutes }} {{ cond (eq $minutes 1) "minute" "minutes" }}
            </div>
        </div>
        <div class="item">
            <div class="label">Tags</div>
            <div>
                {{ range (.GetTerms "tags") }}
                <a class="tag" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            {{ end }}
            </div>
        </div>

    </div>
{{ end }}