<div class="box author">
    <div class="title">Author</div>

    <!-- Loop through each author -->
    {{ range .Params.authors }}
        {{ with $.Site.GetPage (printf "/%s/%s" "authors" (. | urlize)) }}

            <img src="{{ .Permalink }}/picture.png">
            <name><a href="{{ .Permalink }}">{{ .Params.full_name }}</a></name>
            <job>{{ .Params.job_title }}</job>

            <!-- If the author has an X handle, display the call to action -->
            {{ if isset .Params "x" }}
                <a class="x-follow" href="https://x.com/{{ .Params.x }}" class="x-follow">Follow on X</a>
            {{ end }}

            <!-- If the author has a LinkedIn handle, display the call to action -->
            {{ if isset .Params "linkedin" }}
                <a class="linkedin-follow" href="https://www.linkedin.com/in/{{ .Params.linkedin }}" class="linkedin-follow">Connect on LinkedIn</a>
            {{ end }}

        {{ end }}
    {{ end }}
</div>