{{ range .Params.authors }}

    <!-- Turn the author's text name into their page object -->
    {{ with $.Site.GetPage (printf "/%s/%s" "authors" (. | urlize)) }}

        <!-- If the author has a Twitter handle, display the call to action -->
        {{ if isset .Params "twitter" }}

            <div class="container">
                <div class="callout">
                    <span>
                        <span class="title">Like what you see?</span>
                        <span class="subtext">Follow {{ .Params.first_name }} on Twitter to be notified of new content.</span>
                    </span>
                    <a href="https://twitter.com/{{ .Params.twitter }}" class="twitter-follow">Follow</a>
                </div>
            </div>

        {{ end }}

    {{ end }}
{{ end }}
