/* ----------------------------------------------------------------------------
Global variables
---------------------------------------------------------------------------- */
$light-bg-color: #F9F9F9;
$light-border-color: #EAEAEA;
$light-text-color: #747474;
$text-color: rgb(33, 37, 41);

$blue: #0077EE;

// Media query breakpoints
$phone: 600px; // Anything smaller than this is a phone.
$tablet: 1000px; // Anything smaller than this is a phone.

$serif: source-serif-pro, serif;
$sans: "Source Sans Pro", -apple-system, Helvetica, arial, sans-serif;

/* ----------------------------------------------------------------------------
Global styles
---------------------------------------------------------------------------- */
html {
    height: 100%;
    font-size: 20px; /* rem units are based on this */
    color: $text-color;

    @media (max-width: $tablet) {
        font-size: 16px;
    }

    @media (max-width: $phone) {
        font-size: 14px;
    }
}

body {
    background-color: #FDFDFD;
    font-family: $serif;
    height: 100%;
}

/* ----------------------------------------------------------------------------
Global elements
---------------------------------------------------------------------------- */

a {
    color: $text-color;
    text-decoration: none;
    -webkit-transition: color 0.25s; /* For Safari 3.0 to 6.0 */
    transition: color 0.25s; /* For modern browsers */

    &:hover {
        color: $blue;
        text-decoration: none;
    }
    
}

h1 {
    font-size: 1.75rem;
    font-weight: 700;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 40pt;
    margin-bottom: 10pt;
}

h3 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 20pt;
    margin-bottom: 10pt;
}

h4 {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 20pt;
}

callout {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: block;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 50%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 600;
    text-align: center;
}

todo {
    display: block;
    background-color: rgba(255, 0, 0, 0.2);
    padding: 0.5rem;
    border-radius: 5px;

}

blockquote {
    border-left: 3px solid #D2D2D2;
    padding-left: 1.5rem;
}

div.highlight pre {
    border: 1px solid #ebebeb;
    border-left: 3px solid #ebebeb;
    border-radius: 5px;
    padding-left: 1.0rem;
    padding-right: 1.0rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: $light-bg-color !important;
}

.pre-title, .pre-title a {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.12em;
    color: $blue;
    font-family: $sans;

    a:hover {
        color: $text-color;
    }
}

/* ----------------------------------------------------------------------------
Splash
---------------------------------------------------------------------------- */

#splash {
    background-color: $light-bg-color;
    padding: 0.01vh;
    margin-bottom: 3rem;
    position: relative;

    img {
        width: 100%;
    }


    .splash-cover {
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.05) 80%, rgba(0,0,0,0) 100%);
        min-height: 30%;
        position: absolute;
        width: 100%;
        top: 0;
    }

    &.light {
        .navbar a {
            color: white;
        }
        nav.navbar .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1.0)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
       }
    }
}


/* ----------------------------------------------------------------------------

---------------------------------------------------------------------------- */

#page_content {
    min-height: 100%;

    img {
        width: 100%;
        display: block;
    }

    feature,
    bigfeature {
        background-color: $light-bg-color;
        display: block;
        max-width: 100%;
        overflow: hidden;
        margin-top: 40pt;
        padding-bottom: 40pt;
    }

    plot {
        display: block;
        margin-top: 20pt;
        margin-bottom: 20pt;

        figure {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
}

/* -------------------
Define the page size
------------------- */

.container,
#mainmatter > *,
#backmatter > *,
#mainmatter feature > *,
#mainmatter bigfeature > * {
    max-width: 750px;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: auto;
    margin-right: auto;
}

#mainmatter bigfeature > * {
    max-width: 1300px;
    padding-right: 5vw;
    padding-left: 5vw;
}

@media (max-width:1000px) {
    .container,
    #mainmatter > *,
    #backmatter > * {
        padding-right: 5vw;
        padding-left: 5vw;
    }
}

/* Center latex on the page */
/* p:has(.katex-display) {
    max-width: none !important;
    margin: 0 0 0 0 !important;
}  */

/* ----------------------------------------------------------------------------
Nav bar
---------------------------------------------------------------------------- */

nav, nav.navbar {
    font-family: $sans;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navbar-brand {
    font-weight: 600;
    font-size: 1.2rem;
}

nav a:hover, .navbar-nav-hidden a:hover {
    color: $blue !important;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end;
    column-gap: 20px;
}

.navbar-toggler {
    border: none;

    &:focus {
        box-shadow: none;
    }
}

.navbar-nav-hidden {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.navbar-nav-hidden ul {
    list-style: none;
    padding-left: 0px;
    margin-top: 10px;
}

.navbar-nav-hidden ul li:not(:last-child) {
    margin-bottom: 5px;
}

#navbarSupportedContent {
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    min-width: 50vw;
    font-family: $sans;
    font-size: 1.5em;
    font-weight: 500;

    a {
        color: white;
    }

    li {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    -webkit-transition: height 0.01s;
    -moz-transition: height 0.01s;
    -ms-transition: height 0.01s;
    -o-transition: height 0.01s;
    transition: height 0.01s;

    background-color: #2e2e2e;
    box-shadow: 0px 0px 20px black;

}

/* ----------------------------------------------------------------------------
First post
---------------------------------------------------------------------------- */
#first-post {
    .title {
        font-size: 2.4rem;
        line-height: 3rem;
        font-weight: 700;
        font-family: $serif;
        display: block;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .summary {
        font-size: 1.1em;
        color: $light-text-color;
    }

    .meta {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-weight: 400;
        font-size: 0.8rem;
        color: $light-text-color;

        .space {
            padding-left: 4px;
            padding-right: 4px;
        }  
    }

    margin-bottom: 6rem;
}

/* ----------------------------------------------------------------------------
Page mini
---------------------------------------------------------------------------- */
.mini {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: $light-text-color;

    display: grid;
    grid-template-columns: 0.333fr 0.6666fr;
    grid-column-gap: 2rem;
    
    font-family: $sans;

    @media (max-width: $phone) {
        display: flex;
        flex-direction: column;
    }

    .title {
        font-size: 1.4rem;
        font-weight: 700;
        font-family: $serif;
    }

    img.feature {
        border-radius: 5px;
        width: 100%;
        margin-bottom: 1em;
    }

    .meta {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-weight: 400;
        font-size: 0.7rem;
        color: $light-text-color;

        .space {
            padding-left: 4px;
            padding-right: 4px;
        }  
    }

    .summary {
        font-size: 0.85em;
    }
}

/* ----------------------------------------------------------------------------
Page (Single)
---------------------------------------------------------------------------- */

#page_header {
    margin-top: 4rem;
    margin-bottom: 5rem;

    .title {
        font-size: 2em;
        font-weight:700;
        display: block;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .title-callout {
        font-size: 3em;
        font-weight:700;
        display: block;
        margin-top: 1rem;
        margin-bottom: 1rem;
        line-height: 1.25em;
    }

    .blurb {
        font-size: 1.25em;
        display: block;
        padding: 0;
        margin: 0;
    }
    
}

#page_header .category a:hover {
    text-decoration: underline;
}

#page_header .paper-meta {
    display: flex;
    font-size: 1em;
    flex-wrap: wrap;
    row-gap: 20px;
}

#page_header .paper-meta .item {
    flex-shrink: 1;
    flex-basis: 33%;
    min-width: 130px;
    margin-top: 3rem;
}

#page_header .paper-meta .label {
    text-transform: uppercase;
    opacity: 0.75;
    font-size: 0.8rem;
}

#page_content {
    line-height: 1.5em;
}

#page_content .plot {
    margin-top: 2em;
    margin-bottom: 2em;
}

#page_content [id^=ojs-cell-] {
    margin-top: 2em;
    margin-bottom: 2em;
}

#page_content img.wide {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

#page_content a {
    /* color: #374D9E; */
    color: inherit;
    border-bottom: 2px solid #dfdfdf;
}

#page_content a:hover {
    background-color: #fff9e3;
    border-bottom: 2px solid #ffedae;
}

#page_content .js-plotly-plot a.modebar-btn {
    border: 0px solid transparent;
}

@media (max-width:450px) {
    #page_header img {
        max-width: 300px;
        max-height: 300px;
    }
    #page_header span.subtitle {
        font-size: 1.5rem;
    }
    .paper-meta {
        font-size: 1rem;
    }
    #page_content {
        font-size: 1.2rem;
        line-height: 1.5em;
    }
}

#hero {
    background: linear-gradient(180deg, transparent 0%, transparent 50%, #FDFDFD 50%, #FDFDFD 100%);
}

#hero img {
    width: 100%;
    border-radius: 5px;
}

/* ----------------------------------------------------------------------------
Back matter
---------------------------------------------------------------------------- */

#backmatter {
    margin-top: 5rem;
    font-size: 0.75rem;
    color: $light-text-color;
    padding-bottom: 3rem;
    overflow-wrap: anywhere;
    background-color: $light-bg-color;
    // border-top: 1px solid $light-border-color;
    // border-bottom: 1px solid $light-border-color;
    font-family: $sans;
}

#backmatter h1 {
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
}

#backmatter h2 {
    font-size: 0.8rem;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

#backmatter pre {
    border: 1px solid $light-border-color;
    padding: 1rem;
}

/* ------- Footnotes ------- */

#page_content .footnotes hr {
    visibility: hidden;
    margin: 0;
    padding: 0;
}

#page_content .footnotes li {
    margin-bottom: 1rem;
}


a[href^="#fn:"]:before{ content: '[' }
a[href^="#fn:"]:after{ content: ']' }

ol {
    padding-inline-start: 20px; /* needed for footnotes */
    list-style: outside decimal;
    padding-left: 0px;
}

ol li {
    margin-left: 17px;
    padding-left: 3px;
    margin-bottom: 3px;
}

ul {
    list-style: inside disc;
}

li p {
    display: inline; /* needed for footnotes */
}


/* ----------------------------------------------------------------------------
Footer
---------------------------------------------------------------------------- */

footer {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.75rem;
    font-family: $sans;
    color: $light-text-color;
}


/* ----------------------------------------------------------------------------
Other
---------------------------------------------------------------------------- */

.math {
    font-size: 0.8em;
}

#page_content table {
    margin-left: auto; 
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

#page_content table th {
    padding: 0pt 10pt;
    font-weight: 600;
    border-bottom: 1px solid #dfdfdf;
}

#page_content table td {
    padding: 4pt 10pt;
}

#page_content figure {
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#page_content figure img.medium {
    width: 75%;
    margin: 0 auto;
}

#page_content figure img.small {
    width: 50%;
    margin: 0 auto;
}

#page_content figure figcaption {
    padding-top: 10px;
    font-size: 0.85rem;
    line-height: 1.25rem;
    width: 90%;
    margin: 0 auto;
}


.katex { /* Inline math */
    font-size: 1em;
}

.katex .tag .vlist-t2 {
    /* Stop the equation numbers from poking
    out the right, causing overflow and a
    scroll bar to appear. */
    margin-right: 0;
}

#page_content .katex-display, #page_content mjx-container[display="true"] { /* Block math */
    margin: 2rem 0;
    display: block;
    overflow-x: auto;
    overflow-y: clip;
    scroll-padding: 20px;
}

#page_content mjx-container[display="true"]::-webkit-scrollbar{
    height: 15px;
}
#page_content mjx-container[display="true"]::-webkit-scrollbar-thumb{
    border-radius: 100px;
    border: 5px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, 0.2);
}


#page_content .katex-display .katex { /* Block math */
    font-size: 1.1em;
}

@media (max-width:450px) {
    #page_content table th {
        padding: 4pt 4pt;
    }
    
    #page_content table td {
        padding: 4pt 4pt;
    }
}


/* ----------------------------------------------------------------------------
Author profile
---------------------------------------------------------------------------- */

#author_header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 40px;
    row-gap: 40px;
    justify-content: flex-start;
}

#author_header img.profile {
    background-color: #f5f5f5;
    border-radius: 10%;
    max-width: 200px;
    max-height: 200px;
}

@media (max-width:600px) {
    #author_header {
        flex-direction: column-reverse;
    }
}


#author_header .social-links a img {
    display: inline;
    max-width: 20px;
    max-height: 20px;
    margin-right: 15px;
}

#author_header .social-links a:hover img {
    opacity: 0.3;
}

/* ----------------------------------------------------------------------------
Appendix
---------------------------------------------------------------------------- */

details summary > * {
    display: inline-block;
}

details>summary {
    list-style: none;
}

summary::-webkit-details-marker {
    display: none
}

summary::after {
    content: 'тнв';
    font-size: 1.25em;
    padding-left: 10px;
    position: relative;
    top: 2px;
}
details[open] summary:after {
    content: "тнг";
}

.mermaid {
    text-align: center;
}

/* ----------------------------------------------------------------------------
Twitter callout
---------------------------------------------------------------------------- */

.callout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 1rem;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: $light-bg-color;
    border-radius: 5px;
    line-height: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;

    font-family: $sans;
}

.callout .title {
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
}

#page_content .callout a.twitter-follow {
    display: block;
    background-color: #4A99E9;
    border-radius: 5px;
    text-decoration: none;
    border-bottom: none;
    box-shadow: none;
    text-align: center;
    font-weight: 600;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

#page_content .callout a.twitter-follow:hover {
    background-color: #428AD2;
}