{{ define "main" }}

    {{ $images := $.Resources.ByType "image" }}
    {{ $featured := $images.GetMatch "*feature*" }}

    <div id="splash">

        {{- partial "nav.html" . -}}

        <div id="page_header">
            <div class='container'>
                <span class="pre-title">{{ partial "category-links.html" . }}</span>
                <h1 class='title'>{{ .Title }}</h1>
                <p class="blurb">{{ .Summary }}</p>
                {{ partial "paper_meta.html" . }}
            </div>
        </div>

        <div id="hero">
            <div class="container">
                {{ with $featured }}<img src="{{ $featured.Permalink }}" />{{ end }}
            </div>
        </div>

    </div>


    <div id="page_content">
        <div id="mainmatter">
            {{- partial "twitter-call-to-action.html" . -}}
            {{- partial "no_footnotes_content.html" . -}}
            {{- partial "twitter-call-to-action.html" . -}}
        </div>
        {{- partial "back-matter.html" . -}}
    </div>

    {{- partial "setup-notebook.html" . -}}
    {{- partial "setup-mermaid.html" . -}}

{{ end }}