{{ define "main" }}

<div id="splash">

    {{- partial "nav.html" . -}}


    <div id="page_header">
        <div class='container'>
            <div id="author_header">
                <div>
                    <h1 class='title'>{{ .Title | title }}</h1>
                    {{ .Content }}
                    <div class="social-links">
                        {{ with .Params.x_handle }}<a href="https://x.com/{{ . }}"><img src="/img/x-grey.svg" /></a>{{ end }}
                        {{ with .Params.github_handle }}<a href="https://github.com/{{ . }}"><img src="/img/github-grey.svg" /></a>{{ end }}
                        {{ with .Params.linkedin_handle }}<a href="https://www.linkedin.com/in/{{ . }}/"><img src="/img/linkedin-grey.svg" /></a>{{ end }}
                        {{ with .Params.instagram_handle }}<a href="https://instagram.com/{{ . }}"><img src="/img/instagram-grey.svg" /></a>{{ end }}
                    </div>
                </div>
                <img class="profile" src="{{ .Permalink }}/picture.png">
            </div>
        </div>
    </div>

</div>


    <div class="archive-grid">
        {{ range .Pages.ByDate.Reverse }}
            {{- partial "grid-card.html" . -}}
        {{ end }}
    </div>

{{ end }}