{{ define "main" }}

    <div id="section" class="container">
        {{ .Content }}

        {{ range (sort .Pages) }}
            <div class="post">
                <a class="title" href="{{ .Permalink }}">{{ .Title }}</a>
                <div class="meta">
                    <span class="date">{{ .Date.Format "2 January 2006" }}</span>
                    {{if .Params.draft }}<span class="tag">Draft</span>{{ end }}
                </div>
                <div class="blurb">{{ .Params.blurb }}</div>
            </div>
        {{ end }}
    </div>

{{ end }}