<div>
    <div id='{{ .Get "id" }}'></div>
    <script>
        plotdiv = document.getElementById('{{ .Get "id" }}');

        d3.csv('{{ .Get "data" }}', function(err, data){
            function unpack(data, key) {
                return data.map(function(row) {
                    return row[key];
                });
            }
            {{ .Inner | safeJS }}

            layout['plot_bgcolor'] = "transparent";
            layout['paper_bgcolor'] = "transparent";
            layout['modebar'] = {
                bgcolor: "transparent",
                color: "black",
                activecolor: "#747474",
            };
            layout['font'] =  {
                family: 'Source Sans Pro',
                size: 16
            };

            Plotly.newPlot(plotdiv, traces, layout, {displaylogo: false, modeBarButtonsToRemove: ['toImage', 'lasso2d', 'select2d']});
        });
    </script>
</div>