<div class="plot">
    <div id='{{ .Get "id" }}'></div>
    <script>

        function unpack(data, key) {
            return data.map(function(row) {
                return row[key];
            });
        }

        function plot(id, traces, layout) {
            plotdiv = document.getElementById(id);

            layout['plot_bgcolor'] = "transparent";
            layout['paper_bgcolor'] = "transparent";
            layout['modebar'] = {
                bgcolor: "transparent",
                color: "black",
                activecolor: "#747474",
            };
            layout['font'] =  {
                family: 'Source Sans Pro',
                size: 16
            };

            Plotly.newPlot(plotdiv, traces, layout, {displaylogo: false, modeBarButtonsToRemove: ['toImage', 'lasso2d', 'select2d']});
        }

        async function load_and_plot() {
            var id = '{{ .Get "id" }}';
            var url = '{{ .Get "data" }}';

            if (url != null && url != ''){
                var data = await d3.csv(url);
            }

            {{ .Inner | safeJS }}

            plot(id, traces, layout);
        }

        load_and_plot();
    </script>
</div>