<div class="plot">
    <div id='{{ .Get "id" }}'></div>
    <script>

        async function load_and_plot() {
            var id = '{{ .Get "id" }}';
            var url = '{{ .Get "data" }}';

            if (url != null && url != ''){
                var data = await d3.csv(url);
            }

            {{ .Inner | safeJS }}

            if (typeof config == "undefined") {
                var config = {};
            }

            plot(id, traces, layout, config);
        }

        load_and_plot();

    </script>
</div>