{{ define "main" }}

    <div id="splash">

        {{- partial "nav.html" . -}}

        <div id="page_header">
            <div class='container'>
                <div class="pre-title">{{ .Title }}</div>
                <h1 class='title-callout'>{{ .Params.header | safeHTML }}</h1>
                <p class="blurb">{{ .Params.blurb | markdownify }}</p>
            </div>
        </div>

    </div>

    <div id="page_content">

        <div class="container">
            {{ .Content }}
        </div>

    </div>

{{ end }}