/* ----------------------------------------------------------------------------
Global styles
---------------------------------------------------------------------------- */
html {
    height: 100%;
    font-size: 18px; /* rem units are based on this */
}

body {
    background-color: #FDFDFD;
    font-family: "Source Sans Pro", -apple-system, Helvetica, arial, sans-serif;
    height: 100%;
}

@media (max-width:750px) {
    html {
        font-size: 16px;
    }
}

@media (max-width:600px) {
    html {
        font-size: 14px;
    }
}

a {
    color: #374D9E;
}

a:hover {
    color: #EB5757;
    text-decoration: none;
}

#content img {
    width: 100%;
    display: block;
}

#content {
    min-height: 100%;
    /* padding-bottom: 8rem; */
}

h1 {
    font-size: 2.2rem;
    font-weight: 700;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 1.7rem;
    font-weight: 600;
    margin-top: 40pt;
    margin-bottom: 10pt;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 20pt;
    margin-bottom: 10pt;
}

callout {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: block;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 50%;
    padding: 0.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 600;
    text-align: center;
}

blockquote {
    border-left: 3px solid #D2D2D2;
    padding-left: 1.5rem;
}

div.highlight pre {
    border: 1px solid #dfdfdf;
    padding: 0.75rem;
}

/* -------------------
Define the page size
------------------- */

.container, #page_content > * {
    max-width: 800px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:1000px) {
    .container, #page_content > *  {
        padding-right: 10vw;
        padding-left: 10vw;
    }
}

/* ----------------------------------------------------------------------------
Nav bar
---------------------------------------------------------------------------- */

.navbar-brand {
    font-weight: 700;
    font-size: 1.2rem;
}

nav a {
    color: black;
}

.navbar {
    padding: 20px 0px 5px 0px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.5);
}


/* ----------------------------------------------------------------------------
Splash
---------------------------------------------------------------------------- */

#splash .content {
    font-size: 3em;
    font-weight:700;
    padding-bottom: 10vh;
    padding-top: 10vh;
    border-bottom: 1px solid rgb(0, 0, 0, 0.5);
}


/* ----------------------------------------------------------------------------
Section
---------------------------------------------------------------------------- */
#section .mini {
    margin-top: 4rem;
}

#section .mini .author {
    font-size: 0.8rem;
}

#section .mini .title {
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
}

#section .mini .title:hover {
    color:#747474;
    text-decoration:underline;
}

#section .mini .blurb {
    color:#747474;
}

#section .mini .meta {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 400;
    font-size: 0.8rem;
    color:#747474;
}

#section .mini .meta .space {
    padding-left: 4px;
    padding-right: 4px;
}

#section .mini .tag {
    text-transform: lowercase;
    background-color: #ececec;
    display: inline-block;
    border-radius: 5px;
    margin-right: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#section .mini a.tag {
    color:#747474;
}

#section .mini a.tag:hover {
    color:#ececec;
    background-color: #747474;
}



/* ----------------------------------------------------------------------------
Page (Single)
---------------------------------------------------------------------------- */

#single p {
    /* text-align: justify; */
}

#page_header {
    margin-top: 5rem;
    margin-bottom: 5rem;
}


#page_header .title {
    font-size: 2.75em;
    font-weight:700;
    display: block;
    margin-bottom: 1rem;
}

#page_header .blurb {
    font-size: 1.6em;
    display: block;
    padding: 0;
    margin: 0;
}

#page_header .paper-meta {
    display: flex;
    font-size: 1.1rem;
    flex-wrap: wrap;
    row-gap: 20px;
}

#page_header .paper-meta .item {
    flex-shrink: 1;
    flex-basis: 33%;
    min-width: 130px;
    margin-top: 2rem;
}

#page_header .paper-meta .label {
    text-transform: uppercase;
    opacity: 0.75;
    font-size: 0.8rem;
}

#page_content {
    margin-bottom: 5rem;
    line-height: 1.5em;
}

#page_content .plot {
    margin-top: 2em;
    margin-bottom: 2em;
}

#page_content img.wide {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

#page_content a {
    /* color: #374D9E; */
    color: inherit;
    border-bottom: 2px solid #dfdfdf;
}

#page_content a:hover {
    background-color: #fff9e3;
    border-bottom: 2px solid #ffedae;
}

@media (max-width:450px) {
    #page_header img {
        max-width: 300px;
        max-height: 300px;
    }
    #page_header span.subtitle {
        font-size: 1.5rem;
    }
    .paper-meta {
        font-size: 1rem;
    }
    #page_content {
        font-size: 1.2rem;
        line-height: 1.5em;
    }
}

/* ------- Footnotes ------- */

#page_content .footnotes {
    margin-top: 5rem;
    font-size: 0.8rem;
    color: #747474;
    border-top: 1px solid #EAEAEA;
    padding-top: 2rem;
}

#page_content .footnotes hr {
    visibility: hidden;
}

#page_content .footnotes li {
    margin-bottom: 1rem;
}


a[href^="#fn:"]:before{ content: '[' }
a[href^="#fn:"]:after{ content: ']' }

ol {
    padding-inline-start: 20px;
}


/* ----------------------------------------------------------------------------
Footer
---------------------------------------------------------------------------- */

footer {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 300;
    font-size: 0.8rem;
    /* background-color: white; */
    /* border-top: 1px solid #EAEAEA; */
}


/* ----------------------------------------------------------------------------
Other
---------------------------------------------------------------------------- */

.math {
    font-size: 0.8em;
}

#content table {
    margin-left: auto; 
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-size: 0.8em;
    text-align: center;
}

#content table th {
    background-color: #f3f3f3;
    padding: 4pt 20pt;
}

#content table td {
    padding: 4pt 20pt;
}

#content figure {
    display: block;
    margin-bottom: 2rem;
}

#content figure img.medium {
    width: 75%;
    margin: 0 auto;
}

#content figure img.small {
    width: 50%;
    margin: 0 auto;
}

#content figure figcaption {
    padding-top: 10px;
    font-size: 0.85rem;
    line-height: 1.25rem;
    width: 90%;
    margin: 0 auto;
}


#content .katex { /* Inline math */
    font-size: 1.2em;
}

#content .katex-display { /* Block math */
    margin-top: 20pt;
    margin-bottom: 20pt;
    margin: 4rem 0;
    display: block;
}

#content .katex-display .katex { /* Block math */
    font-size: 1.2em;
}

@media (max-width:450px) {
    #content table th {
        padding: 4pt 4pt;
    }
    
    #content table td {
        padding: 4pt 4pt;
    }
}