/* ----------------------------------------------------------------------------
Global styles
---------------------------------------------------------------------------- */
html {
    height: 100%;
    font-size: 18px; /* rem units are based on this */
}

body {
    background-color: #FDFDFD;
    font-family: "Source Sans Pro", -apple-system, Helvetica, arial, sans-serif;
    height: 100%;
}

@media (max-width:600px) {
    html {
        font-size: 14px;
    }
}

a {
    color: #374D9E;
    text-decoration: none;
}

a:hover {
    color: #EB5757;
    text-decoration: none;
}

#page_content img {
    width: 100%;
    display: block;
}

#page_content {
    min-height: 100%;
    /* padding-bottom: 8rem; */
}

h1 {
    font-size: 1.75rem;
    font-weight: 700;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 40pt;
    margin-bottom: 10pt;
}

h3 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 20pt;
    margin-bottom: 10pt;
}

h4 {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 20pt;
}

callout {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: block;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 50%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 600;
    text-align: center;
}

todo {
    display: block;
    background-color: rgb(255, 0, 0, 0.2);
    padding: 0.5rem;
    border-radius: 5px;

}

blockquote {
    border-left: 3px solid #D2D2D2;
    padding-left: 1.5rem;
}

div.highlight pre {
    border: 1px solid #ebebeb;
    border-left: 3px solid #ebebeb;
    border-radius: 5px;
    padding-left: 1.0rem;
    padding-right: 1.0rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: rgba(0, 0, 0, 0.01) !important;
}


#splash {
    background-color: rgba(245, 245, 245, 0.5);
    padding: 0.01vh;
    margin-bottom: 3rem;
}


#page_content feature {
    background-color: rgba(245, 245, 245, 0.5);
    display: block;
    max-width: 100%;
    overflow: hidden;
    margin-top: 40pt;
    padding-bottom: 40pt;
}


#page_content plot {
    display: block;
    margin-top: 20pt;
    margin-bottom: 20pt;
}

#page_content plot figure {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* -------------------
Define the page size
------------------- */

.container,
#page_content > *,
#page_content feature > * {
    max-width: 750px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

#page_content feature > * {
    max-width: 1300px;
    padding-right: 5vw;
    padding-left: 5vw;
}

@media (max-width:1000px) {
    .container,
    #page_content > *,
    #page_content feature > * {
        padding-right: 5vw;
        padding-left: 5vw;
    }
}

/* Center latex on the page */
/* p:has(.katex-display) {
    max-width: none !important;
    margin: 0 0 0 0 !important;
}  */

/* ----------------------------------------------------------------------------
Nav bar
---------------------------------------------------------------------------- */

.navbar-brand {
    font-weight: 700;
    font-size: 1.2rem;
}

nav a, .navbar-nav-hidden a {
    color: black;
}

nav a:hover, .navbar-nav-hidden a:hover {
    color: black;
    text-decoration: underline;
}

.navbar {
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end;
    column-gap: 20px;
}

.navbar-toggler {
    border: none;
}

.navbar-nav-hidden {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.navbar-nav-hidden ul {
    list-style: none;
    padding-left: 0px;
    margin-top: 10px;
}

.navbar-nav-hidden ul li:not(:last-child) {
    margin-bottom: 5px;
}
/* ----------------------------------------------------------------------------
Page mini
---------------------------------------------------------------------------- */
.mini {
    margin-top: 4rem;
}

.mini .author {
    font-size: 0.8rem;
}

.mini .author a {
    color: #212529;
    font-weight: 600;
}

.mini .author a:hover {
    color:#747474;
}

.mini .author sep {
    color:#747474;
}

.mini .title {
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
}

.mini .title:hover {
    color:#747474;
    text-decoration:underline;
}

.mini .blurb {
    color:#747474;
}

.mini .meta {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 400;
    font-size: 0.8rem;
    color:#747474;
}

.mini .meta .space {
    padding-left: 4px;
    padding-right: 4px;
}

.mini .tag {
    text-transform: lowercase;
    background-color: #ececec;
    display: inline-block;
    border-radius: 5px;
    margin-right: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.mini a.tag {
    color:#747474;
}

.mini a.tag:hover {
    color:#ececec;
    background-color: #747474;
}

.mini img.feature {
    border-radius: 10px;
}

.mini img {
    width: 100%;
    margin-bottom: 1em;
}


/* ----------------------------------------------------------------------------
Page (Single)
---------------------------------------------------------------------------- */

#page_header {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#page_header .category, #page_header .category a {
    font-weight: 600;
    color: black;
}

#page_header .category a:hover {
    text-decoration: underline;
}

#page_header .title {
    font-size: 2em;
    font-weight:700;
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#page_header .blurb {
    font-size: 1.25em;
    display: block;
    padding: 0;
    margin: 0;
}

#page_header .paper-meta {
    display: flex;
    font-size: 1em;
    flex-wrap: wrap;
    row-gap: 20px;
}

#page_header .paper-meta .item {
    flex-shrink: 1;
    flex-basis: 33%;
    min-width: 130px;
    margin-top: 3rem;
}

#page_header .paper-meta .label {
    text-transform: uppercase;
    opacity: 0.75;
    font-size: 0.8rem;
}

#page_content {
    margin-bottom: 5rem;
    line-height: 1.5em;
}

#page_content .plot {
    margin-top: 2em;
    margin-bottom: 2em;
}

#page_content img.wide {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

#page_content a {
    /* color: #374D9E; */
    color: inherit;
    border-bottom: 2px solid #dfdfdf;
}

#page_content a:hover {
    background-color: #fff9e3;
    border-bottom: 2px solid #ffedae;
}

#page_content .js-plotly-plot a.modebar-btn {
    border: 0px solid transparent;
}

@media (max-width:450px) {
    #page_header img {
        max-width: 300px;
        max-height: 300px;
    }
    #page_header span.subtitle {
        font-size: 1.5rem;
    }
    .paper-meta {
        font-size: 1rem;
    }
    #page_content {
        font-size: 1.2rem;
        line-height: 1.5em;
    }
}

/* ------- Footnotes ------- */

#page_content .footnotes {
    margin-top: 5rem;
    font-size: 0.8rem;
    color: #747474;
    border-top: 1px solid #EAEAEA;
    padding-top: 2rem;
}

#page_content .footnotes hr {
    visibility: hidden;
}

#page_content .footnotes li {
    margin-bottom: 1rem;
}


a[href^="#fn:"]:before{ content: '[' }
a[href^="#fn:"]:after{ content: ']' }

ol {
    padding-inline-start: 20px; /* needed for footnotes */
    list-style: outside decimal;
    padding-left: 0px;
}

ol li {
    margin-left: 17px;
    padding-left: 3px;
    margin-bottom: 3px;
}

ul {
    list-style: inside disc;
}

li p {
    display: inline; /* needed for footnotes */
}


/* ----------------------------------------------------------------------------
Footer
---------------------------------------------------------------------------- */

footer {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 300;
    font-size: 0.8rem;
    /* background-color: white; */
    /* border-top: 1px solid #EAEAEA; */
}


/* ----------------------------------------------------------------------------
Other
---------------------------------------------------------------------------- */

.math {
    font-size: 0.8em;
}

#page_content table {
    margin-left: auto; 
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

#page_content table th {
    padding: 0pt 10pt;
    font-weight: 600;
    border-bottom: 1px solid #dfdfdf;
}

#page_content table td {
    padding: 4pt 10pt;
}

#page_content figure {
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#page_content figure img.medium {
    width: 75%;
    margin: 0 auto;
}

#page_content figure img.small {
    width: 50%;
    margin: 0 auto;
}

#page_content figure figcaption {
    padding-top: 10px;
    font-size: 0.85rem;
    line-height: 1.25rem;
    width: 90%;
    margin: 0 auto;
}


.katex { /* Inline math */
    font-size: 1em;
}

.katex .tag .vlist-t2 {
    /* Stop the equation numbers from poking
    out the right, causing overflow and a
    scroll bar to appear. */
    margin-right: 0;
}

#page_content .katex-display, #page_content mjx-container[display="true"] { /* Block math */
    margin: 2rem 0;
    display: block;
    overflow-x: auto;
    overflow-y: clip;
    scroll-padding: 20px;
}

#page_content mjx-container[display="true"]::-webkit-scrollbar{
    height: 15px;
}
#page_content mjx-container[display="true"]::-webkit-scrollbar-thumb{
    border-radius: 100px;
    border: 5px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, 0.2);
}


#page_content .katex-display .katex { /* Block math */
    font-size: 1.1em;
}

@media (max-width:450px) {
    #page_content table th {
        padding: 4pt 4pt;
    }
    
    #page_content table td {
        padding: 4pt 4pt;
    }
}


/* ----------------------------------------------------------------------------
Author profile
---------------------------------------------------------------------------- */

#author_header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 40px;
    row-gap: 40px;
    justify-content: flex-start;
}

#author_header img.profile {
    background-color: #f5f5f5;
    border-radius: 10%;
    max-width: 200px;
    max-height: 200px;
}

@media (max-width:600px) {
    #author_header {
        flex-direction: column-reverse;
    }
}


#author_header .social-links a img {
    display: inline;
    max-width: 20px;
    max-height: 20px;
    margin-right: 15px;
}

#author_header .social-links a:hover img {
    opacity: 0.3;
}

/* ----------------------------------------------------------------------------
Appendix
---------------------------------------------------------------------------- */

details summary > * {
    display: inline-block;
}

details>summary {
    list-style: none;
}

summary::-webkit-details-marker {
    display: none
}

summary::after {
    content: 'тнв';
    font-size: 1.25em;
    padding-left: 10px;
    position: relative;
    top: 2px;
}
details[open] summary:after {
    content: "тнг";
}

.mermaid {
    text-align: center;
}

/* ----------------------------------------------------------------------------
Twitter callout
---------------------------------------------------------------------------- */

.callout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 1rem;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #F9F9F9;
    border-radius: 5px;
    line-height: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.callout .title {
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
}

#page_content .callout a.twitter-follow {
    display: block;
    background-color: #4A99E9;
    border-radius: 5px;
    text-decoration: none;
    border-bottom: none;
    box-shadow: none;
    text-align: center;
    font-weight: 600;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

#page_content .callout a.twitter-follow:hover {
    background-color: #428AD2;
}